greenlet==3.0.1; platform_machine == "aarch64" and python_version >= "3.7" or platform_machine == "ppc64le" and python_version >= "3.7" or platform_machine == "x86_64" and python_version >= "3.7" or platform_machine == "amd64" and python_version >= "3.7" or platform_machine == "AMD64" and python_version >= "3.7" or platform_machine == "win32" and python_version >= "3.7" or platform_machine == "WIN32" and python_version >= "3.7"
numpy==1.25.2
pandas==2.1.0; python_version >= "3.9"
psycopg2-binary==2.9.9; python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.9" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.9"
pytz==2023.3.post1; python_version >= "3.9"
six==1.16.0; python_version >= "3.9" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.9"
sqlalchemy==2.0.23; python_version >= "3.7"
typing-extensions==4.8.0; python_version >= "3.8"
tzdata==2023.3; python_version >= "3.9"
